*{
    padding: 0;
    margin: 0;
}
.container{
    width: 480px;
    margin: 0 auto;
}
.recursia_headline{
    text-decoration: underline;
    text-align: center;
}
                            /* First recursion */
.recursion_block_outside{
    width: 100%;
    height: 280px;
    border:3px solid #000000;
    margin-top: 10px;
    margin-bottom: 30px;
}
.recursion_block_inside{
    width: 80%;
    height: 80%;
    border: 3px solid #000000;
}
.recursion_block_outside,.recursion_block_inside{
    padding: 4% 0% 0% 8%;
}

.doublerecursion_block_headline{
    text-decoration: overline;
    text-align: center;
}
                            /* Second recursion */
.doublerecursion_block_outside{
    display: inline-block;
    width: 40%;
    height: 200px;
    border:3px solid #000000;
    margin: 0;
    padding: 4% 0% 0% 4%;
}
.doublerecursion_block_inside_first,.doublerecursion_block_inside_second{
    border: 3px solid #000000;
    width: 80%;
    height: 80%;
    padding: 6% 0% 0% 6.1%;
}
section{
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
}
.verse{
    text-decoration: line-through;
    text-align: center;
}
.p_one{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.p_two{
    margin-top: 10px;
    margin-left: 25px;
    
}
.p_tree{
    margin-top: 10px;
    margin-left: 50px;
}
p:first-letter{
    font-size: 20px;
    font-weight: bold;
}
p::first-line{
    color:grey;
}
.lower_case{
    text-transform: lowercase;
    text-align: center;
}
img{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.text{
    display: inline;
    background-color: #b8afaf;
    border: 1px solid #000000;
    border-radius: 4px;
}
.nav{
    text-align: center;
    margin-top: 20px;
}
nav{
    width: 480px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
a{   
    height: 25px; 
    display: block;
    background-color: rgb(158, 158, 158);
    margin: 5px 5px 5px 5px ;  
    color: white;
}
nav:nth-child(2){
    text-decoration: overline;
}
h1{
    text-decoration: overline underline line-through;
    text-align: center;
}